.validation-summary-valid {
    display: none;
}

.btn-primary {
    --bs-btn-bg: #83502E;
    --bs-btn-border-color: #83502E;
    --bs-btn-hover-bg: #83502E;
    --bs-btn-hover-border-color: #83502E;
    --bs-btn-active-bg: #83502E;
    --bs-btn-active-border-color: #83502E;
}

.btn-link {
    --bs-btn-color: #83502E;
    --bs-btn-hover-color: #83502E;
    --bs-btn-active-color: #83502E;
}

.navbar-dark {
    background-color: #83502E !important;
}

.form-control:focus {
    border-color: #EAA224;
    box-shadow: 0 0 0 0.25rem rgb(234, 162, 36, .25);
}

.nav-link {
    color: #fbfbfb !important;
}

body {
    background: #fbfbfb;
}