@model UserModel

@{
    ViewData["Title"] = "Account";
}

<div class="container my-4" style="max-width: 60rem">
    <div class="my-3 d-flex justify-content-between">
        <span class="fw-bold m-2 h3">Account</span>
        <form asp-action="Logout" method="post" class="my-auto">
            <button class="btn btn-primary">Uitloggen</button>
        </form>
    </div>

    <div class="mt-3 p-4 border rounded-4 bg-white">
        <form asp-action="Register" method="post">
            <div class="form-group my-2">
                <label asp-for="Username" class="form-label">Naam</label>
                <input disabled asp-for="Username" class="form-control"/>
            </div>
            <div class="form-group my-2">
                <label asp-for="Password" class="form-label">Wachtwoord</label>
                <input asp-for="Password" type="password" class="form-control"/>
            </div>
            <div class="form-group my-2">
                <label asp-for="Gender" class="form-label">Geslacht</label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option selected disabled></option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="SnackPreferences" class="form-label">Snack Voorkeuren</label>
                <select multiple asp-for="SnackPreferences" asp-items="ViewBag.SnackPreferences" class="form-control form-select">
                </select>
            </div>
            <div class="form-group my-2">
                <label asp-for="BirthDate" class="form-label">Geboortedatum</label>
                <input asp-for="BirthDate" type="date" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="City" class="form-label">Stad</label>
                <input asp-for="City" class="form-control"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Street" class="form-label">Straat</label>
                <input asp-for="Street" class="form-control"/>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="HouseNumber" class="form-label">Huisnummer</label>
                <input asp-for="HouseNumber" class="form-control"/>
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div asp-validation-summary="All">
                    <span class="text-danger">Corrigeer de volgende fouten:</span>
                </div>
                <div class="d-flex justify-content-center mt-4 mb-2">
                    <!-- TODO: implement register save -->
                    <button disabled="" class="btn btn-primary" style="width: 15rem" type="submit">Opslaan</button>
                </div>
            </div>
        </form>
    </div>
</div>